
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}
  <script src="../../js/sample-project-vendor.js?{{cacheBuster}}"></script>
  <script src="../../js/sample-project.js?{{cacheBuster}}"></script>
  </body>
</html>
