
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}
  {{! <script type="text/javascript" src="/js/nav.js"></script>
  <script type="text/javascript" src="/js/progress.js"></script>
  <script type="text/javascript" src="/js/overlay.js"></script> }}

  <script src="../../js/pl-source-vendor.js?{{cacheBuster}}"></script>
  <script src="../../js/pl-source.js?{{cacheBuster}}"></script>
  </body>
</html>
